@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-quiksand: "Quicksand", sans-serif;
  --color-primary: #c7516d;
  --color-secondary: #0f1841;
}
* {
  scroll-behavior: smooth;
  font-family: var(--font-quiksand);
  scrollbar-width: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("../src/assets/background.svg");
}
.navbar-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 4rem;
  img {
    cursor: pointer;
  }
}
.navbar-links {
  display: flex;
  gap: 5rem;
  a {
    font-size: 1.1rem;
  }
}

.home-container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  button {
    background-color: var(--color-primary);
    padding: 1rem 5rem;
    color: #f6f6f6;
    font-weight: bold;
    border-radius: 0.3rem;
    font-size: 14pt;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: var(--color-secondary);
    }
  }
}
.home-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-secondary);
  .home-title {
    font-size: 56pt;
    max-width: 800px;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: 18pt;
    opacity: 75%;
  }
}

.creator-container {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-generator {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0rem 4rem 0rem;
}

.qr-editor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 12px 0px #dddddd !important;
  -moz-box-shadow: 0px 0px 12px 0px #dddddd !important;
  box-shadow: 0px 0px 12px 0px #cacaca !important;
  border-radius: 1rem;
  backdrop-filter: blur(10px) !important;
  padding: 2rem;
}
.editor-h1 {
  font-weight: bolder;
  font-size: 16pt;
}
.qr-container {
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side {
  width: 70%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  white-space: nowrap,
}
.customization-panel {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 30%;
  height: 100%;
}
.editor-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.divider {
  height: 80%;
  width: 1px;
  background: #ffffff;
  margin: 0px 2rem 0px 2rem;
  border: dashed 1px #eeeeee;
}
.right-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.wifi_form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.customize-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
.qrcode-shapes {
  margin-top: 1rem;
}
.dot-settings {
  display: flex;
}
.colorPicker-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  /* background: #000; */
  .qr-shapes-settings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* background: red; */
    gap: 1rem;
  }
  .settings {
    display: flex;
    flex-direction: column;
    /* background: yellow; */
    gap: 1rem;
    width: 100%;
  }
  .settings-details {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    /* background: green; */
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.qr {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
.hide-radio-dot label span {
  display: none !important;
}
@media (max-width: 1080px) {
  .right-buttons {
    flex-direction: column;
  }
}
